doctype html
html(lang="en")
  head
    title brief-spread
    link(rel="stylesheet", href="../lib/handsontable/handsontable.full.min.css")
    link(rel="stylesheet", href="../lib/font-awesome-4.5.0/css/font-awesome.min.css")
    script(src="../lib/handsontable/handsontable.full.min.js")
  body
    div.tool_bar
      span.tool_button.fa.fa-copy
      span.tool_button.fa.fa-paste
      span.tool_button.fa.fa-cut
      span#current_directory
      span.tool_button.fa.fa-cog(onclick="explorer.toggleSetting()")
    div.center
      //div.dir_tree
      div.main_pane#main_pane
      //  ul#contents
      //div.setting_pane#setting_pane
      //  form(onsubmit="return false;")
      //    label
      //    input#config_json(type="file")
      //    button(type="button", onclick="explorer.loadConfigJson()") Load
    div.status_bar

    link(rel="stylesheet", href="../css/index.css")
    script(src="../js/index.js")
